// Color palettes depending on season
// TODO: what is `:root`?
:root,
:root.spring {
    --background-color: #8a8;
    --light-color: #363;
    --dark-color: #252;
}
:root.summer {
    --background-color: #beb774;
    --light-color: #8f8105;
    --dark-color: #6d6203;
}
:root.fall {
    --background-color: #d69c6c;
    --light-color: #a86833;
    --dark-color: #613613;
}
:root.winter {
    --background-color: #8bb3d8;
    --light-color: #446c92;
    --dark-color: #2a3f53;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    padding: 5px;
    color: #ddd;
}

h1 {
    text-align: center;
    color: #222;
}

table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
}

thead td {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
    color: white;
}

tbody td {
    padding: 10px;
    white-space: nowrap;
    background-color: var(--dark-color);
    border-left: 1px dashed var(--light-color);
}

tbody td:first-child {
    border-left: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tbody td:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

table.sortable thead td[aria-sort="descending"]::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

table.sortable thead td[aria-sort="ascending"]::after {
    content: "▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
}

#input-panel {
    margin-bottom: 10px;

    input {
        width: 40px;
    }
}